doctype html
html.no-js(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title= 'Camp Pacific Code Test - James Maclennan'
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="apple-touch-icon" href="apple-touch-icon.png")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css")
    body
        .wrapper
            header
              .container
                  .row.justify-content-between.no-gutters
                      .col-auto
                          .row
                              .col
                                  ul.vehicle-count.vehicle-count--is-active
                                      li.vehicle-count__item 1
                                      li.vehicle-count__item 2
                              span.col Vehicle(s)

                      .col-auto
                          .row.no-gutters
                              .col
                                  ul.vehicle-count
                                      li.vehicle-count__item 3
                                      li.vehicle-count__item 4
                                      li.vehicle-count__item 5
            section
              .trip
                .container
                  .row.justify-content-between
                    .col-auto 
                        span.trip__heading.copy-uppercase trip
                    .col-auto
                        a.icon-pencil.i-small
                  
                  .row.justify-content-around.align-items-center.copy-center
                    .col-4.waypoint
                      span.waypoint__date.copy-uppercase wed, jun 27
                      span.waypoint__location
                        strong Vancouver
                      span.waypoint__terminal (Tsawwassen)
                    .col-2
                      i.icon-arrows
                    .col-4.waypoint
                      span.waypoint__date.copy-uppercase wed, jun 27
                      span.waypoint__location
                        strong Vancouver
                      span.waypoint__terminal (Tsawwassen)

                  .row.justify-content-center.align-items-center.trip__passengers
                    .col-auto
                      i.icon-people 
                      span 2
                    .col-auto
                      i.icon-wheelchair
                      span 0
            
            section.vehicle__intro 
              .container
                .row
                  .col
                    h2.vehicle__intro__heading Vehicle
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas laudantium fugiat voluptatibus minus, possimus dicta dolorum suscipit sapiente nisi autem similique sit natus exercitationem inventore!

          
            section
              
              .container
                .vehicle
                  .row.justify-content-between.align-items-center
                    .col-auto
                      i.icon-car.vehicle__thumb
                    .col-auto Standard and Oversized
                    .col-auto
                      i.icon-minus.vehicle__close
                  .row
                    .col-12
                      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid ea at modi quas suscipit saepe incidunt laudantium distinctio laborum qui. Consequatur at quasi, mollitia tempora annnnd I'm all out of time.


        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
        script(src="js/main.js")
