@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3necf9');
  src:  url('../fonts/icomoon.eot?3necf9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3necf9') format('truetype'),
    url('../fonts/icomoon.woff?3necf9') format('woff'),
    url('../fonts/icomoon.svg?3necf9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\e90d";
}
.icon-group:before {
  content: "\e90d";
}
.icon-team:before {
  content: "\e90d";
}
.icon-profiles:before {
  content: "\e90d";
}
.icon-people:before {
  content: "\e90d";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-users2:before {
  content: "\e972";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-wheelchair:before {
  content: "\e90e";
}
.icon-arrows:before {
  content: "\e90b";
}
.icon-pencil:before {
  content: "\e90c";
}
.icon-bus:before {
  content: "\e900";
}
.icon-car:before {
  content: "\e901";
}
.icon-info:before {
  content: "\e902";
}
.icon-jeep:before {
  content: "\e903";
}
.icon-motorcycle:before {
  content: "\e904";
}
.icon-pickup:before {
  content: "\e905";
}
.icon-suv:before {
  content: "\e906";
}
.icon-tank:before {
  content: "\e907";
}
.icon-truck:before {
  content: "\e908";
}
.icon-truck-big:before {
  content: "\e909";
}
.icon-ufo:before {
  content: "\e90a";
}