@import "icomoon.less";


@import "layout/_layout.less";
@import "components/_vehicle-count.less";
@import "components/_trip.less";
@import "components/_waypoint.less";
@import "components/_vehicle.less";

@grey-light: #f0f0f0;
@grey-dark: #464646;


div {
}

header {
  background-color: @grey-light;
}


.copy-center {
  text-align: center;
}
.copy-uppercase {
  text-transform: uppercase;
}

.i-small {
  font-size: 15px;
}