.trip {
  background-color: #f8f8f8;
}

.trip__heading {
  font-size: .75em;
  font-weight: bold;
}

.trip__passengers {

  // yuck, the icon svgs aren't spaced equally :(
  .icon-wheelchair {
    margin-right: 5px;
  }
 
  span {
    font-size: .75em;
    font-weight: bold;
    padding-right: 10px;
    text-align: center;
  }
}