.vehicle {
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,.25);
}

.vehicle__intro {
  padding-top: 1em;
}

.vehicle__intro__heading {
  font-weight: bold;
  font-size: 1.25em;
}

.vehicle__thumb {
  font-size: 2.5em;
  border: solid 1px @grey-dark;
  background-color: @grey-light;
}

.vehicle__close {
  font-size: 1.5em;
  cursor: pointer;
}