.vehicle-count {
  list-style: none; 
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 1em;
}

.vehicle-count__item {
  display: inline-block;
  margin: 0 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  border: solid 1px black;
  background-color: #fff;
  margin-left: 5px;

  .vehicle-count--is-active & {
    margin-right: 5px;
    margin-left: 0;
    color: #fff;
    background-color: @grey-dark;
  }
}

.wrapper {
  max-width: 400px;
}